@import "./mixins.scss";
* {
  margin: 0;
  box-sizing: border-box;
}

$dark-4: #1b1b1b;
$dark-3: #252525;
$dark-2: #303030;
$dark-1: #3b3b3b;
$brand: #4338ca;

$mainTextColor: #f0f0f0;
$subTextColor: #b8b8b8;

$anim: cubic-bezier(0.075, 0.82, 0.165, 1);

$border-radius: 0.375rem;

html {
  background-color: $dark-4;
  color: $subTextColor;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 3rem;
  @include add-breakpoint(sm_inv) {
    font-size: 4rem;
  }
}
h2 {
  font-weight: 800;
  line-height: 1.25;
  font-size: 2.25rem;
  @include add-breakpoint(sm_inv) {
    font-size: 3rem;
  }
}

h3 {
  font-weight: 700;
  line-height: 1.25;
  font-size: 2.25rem;
}
h4 {
  line-height: 1.25;
  font-size: 1.875rem;
}

// fixes bug in iOS where input field height shrinks when there is no placeholder text
input[type="text"],
input[type="email"],
input[type="date"] {
  height: 2.375rem;
}
input[type="date"]::-webkit-datetime-edit {
  color: $subTextColor;
  opacity: 0.5;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header,
.footer {
  padding: 2rem 0;
  @include add-breakpoint(sm_inv) {
    padding: 4rem 0;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.mp-form-input-text {
  border-radius: $border-radius;
  border: 1px solid $dark-1;
  font-size: 1rem;
  line-height: 2.5rem;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: 0.25rem 0.75rem;
  background-color: $dark-2;
  color: $subTextColor;
  appearance: textfield;
  -webkit-appearance: textfield;
  box-shadow: none;

  &.title {
    padding: 0.25rem 0;
    background-color: $dark-3;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $dark-1;
    line-height: 1.25;
    font-size: 1.875rem;
    width: 100%;
    margin-bottom: 2rem;
    @include add-breakpoint(sm_inv) {
      line-height: 1.25;
      font-size: 2.25rem;
      overflow-wrap: normal;
    }
  }
}

// make calendar icon match color theme (for chrome-based browsers)
::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}
.mp-form-label {
  padding-bottom: 0.5rem;
  color: $subTextColor;
  opacity: 0.8;
  font-size: 1rem;
}

.grid-col-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @include add-breakpoint(sm_inv) {
    grid-template-columns: 1fr 1fr;
  }
}
.mp-form-element {
  display: flex;
  flex-direction: column;
}

.form-cont {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  background-color: $dark-3;
  border-radius: $border-radius;
  overflow-x: scroll;
  @include add-breakpoint(sm) {
    border-radius: 0;
    padding: 2rem;
  }
}

.mp-form-element.radio {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.mp-radio {
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2em;
  border: 1px solid $dark-2;
  background-color: $dark-4;
  border-radius: $border-radius;
}

.mp-radio input[type="radio"] {
  opacity: 0.00001;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: $dark-4;

  &:checked {
    + .radio-fill {
      width: 1rem;
      height: 1rem;
      top: 50%;
      left: 50%;
      position: absolute;
      background-color: $brand;
      transform-origin: center center;
      transform: translateX(-50%) translateY(-50%) translateZ(-1px);
      border-radius: $border-radius;
      will-change: transform;
      transition: background-color 0.2s ease;
      &::before {
        border: 2px solid $brand;
        --checked-radio: #4338ca;
      }
    }
  }
  &:focus {
    + .radio-fill::before {
      --checked-radio: #4338ca;
    }
  }
}

.radio-fill::before {
  --checked-radio: transparent;
  width: 2.2rem;
  height: 2.2rem;
  top: 50%;
  left: 50%;
  content: "";
  background-color: var(--checked-radio);
  opacity: 0.2;
  position: absolute;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%);
  border-radius: $border-radius;
}

.mp-form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  &.controls {
    justify-content: flex-start;
    padding-top: 4rem;
  }
}
.button {
  background-color: lighten($color: $brand, $amount: 5);
  border: 2px solid transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: $border-radius;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 1em;
  transition: all 0.2s ease;
  position: relative;
  &:hover {
    background-color: $brand;
  }
  & svg {
    fill: currentColor;
    width: 1rem;
    height: 1rem;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: lighten($color: $brand, $amount: 10);
  }
}
.mp-button {
  display: inline-flex;
  &:last-of-type {
    margin-left: 2rem;
  }
}

.step-form-cont {
  margin-top: 4rem;
}
.step-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @include add-breakpoint(sm_inv) {
    grid-template-columns: 0.6fr 1fr;
  }
  border-top: 1px solid $dark-1;
  border-bottom: 1px solid $dark-1;
}
.sf-channels {
  @include add-breakpoint(sm_inv) {
    padding: 2rem 0;
    border-right: 1px solid $dark-1;
  }
  @include add-breakpoint(sm) {
    grid-template-columns: repeat(5, 100%);
    grid-template-areas: "a b c d e";
    display: grid;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
  }
}
.sf-channel {
  padding: 0.5rem;
  min-width: 100%;
  &.active {
    background-color: $dark-4;
    border-right: 2px solid $brand;
    @include add-breakpoint(sm) {
      grid-area: a;
      border-bottom: 1px solid $brand;
      border-right: 0px;
    }
  }
}
.sf-fields {
  padding-bottom: 1rem;
  @include add-breakpoint(sm_inv) {
    padding: 2rem 0;
  }
}

input[type="range"] {
  --track-fill: 0%;

  appearance: none;
  display: block;
  inline-size: 100%;
  margin: 0.5rem 0;
  background: transparent;
  outline-offset: 3px;
  outline-color: lighten($brand, 15);
  outline: none;
  cursor: ew-resize;

  &::-webkit-slider-runnable-track {
    appearance: none;
    block-size: 0.5rem;
    border-radius: $border-radius;
    background: linear-gradient(
        to right,
        transparent var(--track-fill),
        $dark-1 0%
      ),
      $brand fixed;
  }

  &::-moz-range-track {
    appearance: none;
    block-size: 0.5rem;
    background: linear-gradient(
        to right,
        transparent var(--track-fill),
        $dark-1 0%
      ),
      $brand fixed;
  }
  &::-webkit-slider-thumb {
    appearance: none;
    border: none;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    margin-top: -0.5rem;
    border-radius: $border-radius;
    background: $brand fixed;
    &:hover {
      box-shadow: darken($brand, 2) 0px 0px 10px;
    }
  }
  &:focus::-webkit-slider-thumb {
    box-shadow: darken($brand, 5) 0px 0px 10px;
  }
}

input,
button {
  outline: none;
  &:focus,
  &:hover {
    border-color: $brand !important; //apologies to the css gods
  }
}
// chart customizations
// .custom-tooltip,
div.google-visualization-tooltip {
  background-color: $dark-1;
  padding: 1rem;
  border: 1px solid $dark-3;
  border-radius: $border-radius;
  box-shadow: none;
}
